Production/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>testTask</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="theme-color" content="#f6f2de"/>
  </head>
  <body>
    <div class="main-wrap">
      <script type="text/template"><li class="cards-block__card cards-block__card_%type%" data-type="%type%"></li></script>
      <ul class="cards-block _cards-block"></ul>
    </div>
  </body>
  <script src="js/narrow-narrow.js" defer="defer"></script>
  <script src="js/main.js" defer="defer"></script>
</html>

Development/jade/index.jade
<!DOCTYPE html>
html
  head
    title testTask
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="stylesheet", href="css/style.css")
    meta(name="theme-color" content="#f6f2de")
  body
    .main-wrap
      script(type="text/template").
        <li class="cards-block__card cards-block__card_%type%" data-type="%type%"></li>
      ul.cards-block._cards-block
  script(src="js/narrow-narrow.js" defer)
  script(src="js/main.js" defer)
